<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="HierarchicalLifetimeManager"
               type="Microsoft.Practices.Unity.HierarchicalLifetimeManager, Microsoft.Practices.Unity" />
  </typeAliases>
  <container>
  <register type="FingerFood.Base.DataAccess.IContext, FingerFood.Base"
          mapTo="FingerFood.DataAccess.GeneralDbContext, FingerFood.DataAccess">
    <lifetime type="HierarchicalLifetimeManager" />
  </register>

  <register type="FingerFood.Base.Exceptions.IExceptionMapper, FingerFood.Base"
            mapTo="FingerFood.Base.Exceptions.ExceptionMapper, FingerFood.Base">
  </register>
  
  
    <register type="FingerFood.Domain.IRepositories.IProductRepository, FingerFood.Domain"
             mapTo="FingerFood.DataAccess.Repositories.ProductRepository, FingerFood.DataAccess">
    </register>
  </container>
</unity>
